<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Block List</title>
  <th:block th:insert="layout.html :: link-css"></th:block>

</head>
<body>
<th:block th:insert="layout.html :: header"></th:block>
<div class="container">

  <h1>Add Book</h1>
  <form th:action="@{/books/add}" th:object="${book}" method="post">
    <div class="col-6 md-3">
      <label for="id" class="form-label">Id: </label>
      <input type="text" class="form-control" th:field="*{id}" id="id">
    </div>
    <div class="col-6 md-3">
      <label for="title" class="form-label">Title: </label>
      <input type="text" class="form-control" th:field="*{title}" id="title">
    </div>
    <div class="col-6 md-3">
      <label for="author" class="form-label">Author: </label>
      <input type="text" class="form-control" th:field="*{author}" id="author">
    </div>
    <div class="col-6 md-3">
      <label for="price" class="form-label">Price: </label>
      <input type="text" class="form-control" th:field="*{price}" id="price">
    </div>
    <div class="col-6 md-3">
      <label for="category" class="form-label">Category: </label>
      <input type="text" class="form-control" th:field="*{category}" id="category">
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
  </form>
  <br>
  <a th:href="@{/books}">Back to list</a>
</div>
</div>
<th:block th:insert="layout :: footer"></th:block>
</body>

</html>