<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Block List</title>
    <th:block th:insert="layout.html :: link-css"></th:block>

</head>
<body>
<th:block th:insert="layout.html :: header"></th:block>
<div class="container">

    <h1>Edit Book</h1>
    <form th:action="@{/books/edit}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="col-6 md-3">
            <label for="title" class="form-label">Title: </label>
            <input type="text" class="form-control" th:field="*{title}" id="title">
        </div>
        <div class="col-6 md-3">
            <label for="author" class="form-label">Author: </label>
            <input type="text" class="form-control" th:field="*{author}" id="author">
        </div>
        <div class="col-6 md-3">
            <label for="price" class="form-label">Price: </label>
            <input type="text" class="form-control" th:field="*{price}" id="price">
        </div>
        <div class="col-6 md-3">
            <label for="category" class="form-label">Category: </label>
            <select id="category" class="form-control" name="category.id">
                <option value="">Select Category</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
    <br>
    <a th:href="@{/books}">Back to list</a>
</div>
</div>
<th:block th:insert="layout :: footer"></th:block>
</body>

</html>