<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CATEGORY LIST</title>
  <th:block th:insert="layout.html :: link-css"></th:block>
</head>
<body>
<th:block th:insert="layout.html :: header"></th:block>
<div class="container">
  <h1 th:text="${title}"></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr th:each="category : ${categories}">
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
      <td>
        <a th:href="@{/categories/edit/{id}(id=${category.id})}">Edit</a>
        <a th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
  </table>
</div>
<th:block th:insert="layout :: footer"></th:block>
</body>
</html>