<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ỨNG DỤNG QUẢN LÝ SÁCH</title>
    <th:blook th:replace="layout :: link-css"></th:blook>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH - KẾT NỐI CSDL MYSQL
            </a>
        </div>
    </nav>
</div>
<th:block th:replace="Layout :: footer"></th:block>
</body>
</html>